<div class="mt-5 " id="post-<%= post._id%>">
    <div class="card card-body">
            <h5  style="color:black;text-decoration: underline;" class="card-title">
                Created by <%= post.user.fname %>
            </h5>
            <div style="color:black;" class="card-text">
                     <%= post.content %>
            </div>
            
            
            
        
        <div  >
            <small > 
           
                
                <span style="margin-right: 70%;color: black;" >
                    <% if(locals.user) {%> 
                 <a class="toggle-like-button" data-likes="<%= post.likes.length %>" style="color: black;text-decoration: none;" href="/likes/toggleLike/?id=<%= post._id%>&type=Post">
                    <img src="/images/Like-Button.png" style="height: 20px;width: 20px;" alt="">
                    &nbsp;<%= post.likes.length %>
                 </a>  
                 <%}else {%>
                    <img src="/images/Like-Button.png" style="height: 20px;width: 20px;" alt="">
                    &nbsp;<%= post.likes.length %>
                    <%}%>
                </span>

               <% if(locals.user && locals.user.id  == post.user.id) {%> 
                <span style="margin-left: 70%px;"> 
                <a class= "delete-post-button" style="color: #5cb85c"  href="/posts/destroy/<%= post._id %>" >
                    <img src="/images/Delete-Button.png" style="height: 15px;width: 15px;" alt="">
                </a>
               </span>
         <%}%>
          
            </small>
        
        </div>
    </div>
        
    <div class = "comment-list-container mt-5" id = "post-comments-<%= post._id%>">

        <% for(comment of post.comments){%>
            
            <div class="card card-body" id = "comment-<%= comment._id %>" style="color:black; border: none;">
                
                
                <span style="text-align: center;" >
                    <%= comment.content %>
                </span>
                <span>
                    by-<%= comment.user.fname %>
                </span>
                    
                <div class="border-bottom">
                    <small>


                        <span style="margin-right: 70%;color: black;" >
                            <% if(locals.user) {%> 
                         <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" style="color: black;text-decoration: none;" href="/likes/toggleLike/?id=<%= comment._id%>&type=Comment">
                            <img src="/images/Like-Button.png" style="height: 20px;width: 20px;" alt="">
                            &nbsp;<%= comment.likes.length %>
                         </a>  
                         <%}else {%>
                            <img src="/images/Like-Button.png" style="height: 20px;width: 20px;" alt="">
                            &nbsp;<%= comment.likes.length %>
                            <%}%>
                        </span>


                            <% if(locals.user && ( locals.user.id  == comment.user.id  )  ){%> 
                            <span style="margin-left: 70%px;">
                            <a class= "delete-comment-button" style="color: #5cb85c"  href="/comments/destroy/<%= comment._id %>" >
                                <img src="/images/Delete-Button.png" style="height: 15px;width: 15px;" alt="">
                            </a>
                           </span>
                        <%}%>
                    </small>
                </div>
                            
            </div>
        <%}%>
    </div>

    <div class = "comments-container row ">
        <% if(locals.user){ %>
            <div class="col-12 signup-form ">
                <form action="/comments/create" id="post-<%= post._id %>-comments-form" method="post">
                    <div class="form-group">
                            <textarea class="form-control" name = "content" rows="2" id="comment" placeholder="Please type in your comment here..." required="required"></textarea>
                            <input type="hidden" name="post" value="<%= post._id %>">  
                        </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Add comment</button>
                    </div>
                </form>
            </div>   
            
                <%}%>   
                
                
    </div>
</div>

