<link rel="stylesheet" href="/css/sign.css">

<div class="container">
<div class="row " >

    <div class=" col-xs-12 col-md-3 "></div>
   <div class="signup-form  col-xs-12 col-md-6 ">
    <% if(locals.user){ %>
    <form action="/posts/create" method="post">
        <div class="form-group">
                <textarea class="form-control" name = "content" rows="5" id="comment" required="required"></textarea>
              </div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Create Post</button>
        </div>
    </form>
    <%}%>

</div>
<div class=" col-xs-12 col-md-3 "></div>
   
</div>

    <div class="row">
        <div class=" col-xs-12 col-md-3 "></div>
        <div class= "  col-xs-12 col-md-6 " style="width: 100%;">
    
        <!--posts is defined in Home controller-->
        <%for(post of posts){%>
          
                <div class="card-body border mt-5 container">
                    <div class="row card card-body">
                     <div class="col-12">       
                    <h5  style="color:black;text-decoration: underline;" class="card-title">Created by <%= post.user.fname %></h5>
                  <div style="color:black;" class="card-text"><%= post.content %></div>
                </div>

                <div class="col-12" style="text-align: right;">

                    <small>

                    <% if(locals.user && locals.user.id  == post.user.id) {%> 
                        <a href="/posts/destroy/<%= post._id %>" >
                        Delete Post</a>
                    </small>
                      
                
            
                    <%}%>
           
                </div>
                </div>
                    <div class = "post-comments_list row">
                        <div class="col-12 ">
                        <ul id = "post-comment-<%= post._id %>" style="color:black;">
                            <% for(comment of post.comments){%>
                               
                             
                                <li>
                                <p>
                                        <%= comment.content %>
                                    <br>
                                        <small>
                                            <%= comment.user.fname %>
                                        </small>
                                    </p>
                                </li> 
                                
                                
                                <% if(locals.user && ( locals.user.id  == comment.user.id || locals.user.id  == post.user.id  )  ){%> 
                                    <small>
                                        <a href="/comments/destroy/<%= comment._id %>" style="color:black;">
                                        Delete</a>
                                    </small>
                                    <%}%>
                                         
                                    <%}%>   
                        </ul>
                        
                    </div>
                    </div>
                
                   <div class = "comments-container row">
                    <% if(locals.user){ %>
                        <div class="signup-form col-12">
                            <form action="/comments/create" method="post">
                                <div class="form-group">
                                        <textarea class="form-control" name = "content" rows="2" id="comment" placeholder="Please type in your comment here..." required="required"></textarea>
                                        <input type="hidden" name="post" value="<%= post._id %>">  
                                    </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg btn-block">Add comment</button>
                                </div>
                            </form>
                        </div>   
                        
                            <%}%>   
                            
                            
              </div>
            </div>
        
    <%}%>
 </div>
 <div class=" col-xs-12 col-md-3 "></div>

</div>
</div>